/* Hero Section */
.hero
{
    background-color: #1f2937;
}

.header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo
{
    font-family: roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

ul
{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a
{
    font-family: roboto, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero-container
{
    height: 400px;
    padding-left: 330px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.main
{
    width: 345px;
    font-family: roboto, sans-serif;
    font-size: 48px;
    font-weight: 900;
    color:  #f9faf8;
}

p
{
    width: 450px;
    font-family: roboto, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button
{
    background-color: #3882f6;
    color: #ffffff;
    font-family: roboto, sans-serif;
    font-weight: 700;
    padding: 4px;
    width: 75px;
    border-radius: 5px;
}

img
{
    width: 320px;
    height: 240;
    border-radius: 5px;
}

/* Information Section */
.info-body
{
    font-family: roboto, sans-serif;
    text-align: center;
}

.title
{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 32px;
    margin-top: 32px;
}

.info-container
{
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info
{
    max-width: 320px;
}

.img-1
{
    width: 320px;
    height: 211px;
    border-radius: 5px;
}

.img-2
{
    width: 320px;
    height: 213px;
    border-radius: 5px;
}

.img-3
{
    width: 320px;
    height: 164px;
    border-radius: 5px;
}

.img-4
{
    width: 320px;
    height: 213px;
    border-radius: 5px;
}

.text
{
    font-size: 18px;
    color: #1f2937;
}

/* Quote Section */
.quote-body
{
    font-family: roboto, sans-serif;
    background-color: #e5e7eb;
    height:400px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container
{
    width: 830px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.quote
{
    font-size: 36px;
    color: #1f2937;
}

.author
{
    font-size: 18px;
    font-weight: 700;
    margin-left: auto;
}

/* Call to action section */
.call-to-action-body
{
    font-family: roboto, sans-serif;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-container
{
    background-color: #3882f6;
    width: 800px;
    height: 50px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.call-to-action-title
{
    font-size: 18px;
    font-weight: 700;
    color:  #f9faf8;
}
.call-to-action-text
{
    color: #ffffff;
}

.call-to-action-button
{
    background-color: #3882f6;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 4px 20px 4px 20px;
    border-radius: 5px;
}

/* Footer section */
.footer
{
    font-family: roboto, sans-serif;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 24px;
    display: flex;
    justify-content: center;
}